.about-title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #135ab0;
}

.features-title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #135ab0;
}

.about-subtitle {
  font-size: 18px;
  color: #135ab0;
}

.undraw-programmer {
  margin-top: 30px;
}

.card-about {
  margin-left: 30vh;
  margin-right: 30vh;
  margin-bottom: 10px;
}

.btn-about {
  margin-right: 20px;
  margin-left: 20px;
}
