.admin-container {
  margin-left: 20vh;
  margin-right: 20vh;
  margin-top: 60px;
}

.admin-date {
  width: 213px;
}

.admin-time {
  width: 213px;
}

.admin-description {
  height: 124px !important;
}

.btn-delete-user {
  margin-top: 32px;
  margin-left: 20px;
}

.btn-ban-user {
  margin-top: 118px;
  margin-left: 20px;
  width: 116px;
}

.img-in-admin {
  width: 500px;
  float: right;
  margin-right: 20vh;
  margin-top: -30vh;
  z-index: -1000 !important;
}