.btn-menu {
  border-radius: 15px !important;
}

.login:hover {
 background: #6a82fb !important;
}

/*body {
  background-image: url("../img/bg.jpg") !important;
  background-color: #cccccc !important;
  background-size: 100%;
  height: calc(100vh - 70px);
  margin-left: -15px !important;
  margin-right: -15px !important; 
}*/

/*body{
		background-color: #000 !important;
		background-image: url("../img/bg.jpg") !important;
		background-size: cover !important;
		background-position: top center !important;
  }*/
  
  body{
    background-color: #f8f9fa !important;
    font-family: Poppins, Roboto, "Helvetica Neue", Arial, sans-serif !important;
  }
  
  header {
    font-family: Poppins, Roboto, "Helvetica Neue", Arial, sans-serif !important;
  }

.App {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.navbar {
  background-color: #f8f9fa !important;
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.cr-search-form__input {
  background: #f8f9fa !important;
  width: 25vw !important;
}

.main_background {
  min-height: calc(100vh - 8.1rem);
}
