.more-info-btn {
    margin-right: 20px;
    margin-left: 20px;
}

.book-card {
    height: auto;
    flex-flow: column;
    padding: 1.25rem;
}

.book-img {
    cursor: pointer;
}

.book-img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.book-title {
    font-size: 20px;
    font-weight: bold;
}

.card-action .rate label {
    font-size: 12px;
    margin-bottom: 0;
}

.card-action .react-stars {
    margin-top: -10px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-action {
    margin-top: auto;
}

.card-title {
    margin-bottom: 0.5rem;
}

.react-stars:focus {
    outline: none;
}

.wrapper {
    text-align: center !important;
    margin-right: auto;
    margin-left: auto;
}

.book-simple {
    min-width: 210px !important;
    max-width: 210px !important;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}

.books-container {
    margin-left: 25px;
}

.book-author-no-cover {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 1;
    font-size: 14px;
}

.book-title-no-cover {
    position: absolute;
    bottom: 48px;
    left: 16px;
    z-index: 1;
    font-size: 14px;
}

.search-books-container {
    margin-top: -30px;
    margin-bottom: 40px;
}

.srearch-ico {
    margin-top: 10px;
}

    .srearch-ico:hover {
        cursor: pointer;
    }

.create-book-container {
    margin-top: 40px;
    margin-bottom: 30px;
}

.book-borrowed {
    color: red;
}