.btn-home-about {
  width: 20vh;
  margin-right:20px;
  margin-top:40px;
  float: right;
  z-index: 1000 !important;
}

.btn-home-sign-up {
  width: 20vh;
  float: left;
  margin-top:40px;
  z-index: 1000 !important;
}

.wrapper {
    text-align: center;
    margin-top: 5px;
    margin-bottom:5px;
}

.title-home-moving {
   margin-top:50px !important;
   color: #135ab0;
   font-size: 30px;
   font-weight: bold;
}

.welcome-text {
  color: #00c9ff;
  text-align: center;
  margin-top:50px;
  font-size: 18px;
  z-index: 1000 !important;
}

.magic-book {
  margin-top: -165px;
  margin-left: -50px;
  margin-bottom: 8px;
}