.Loader {
    position: absolute;
    animation: ldio-wcul1v4k7oi 1s linear infinite;
    width: 160px;
    height: 160px;
    bottom: 20px;
    left: calc(100vw/2 - 80px);
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #c76aab;
    transform-origin: 80px 82px;
    z-index: 1000;
}

.Loader:before {
    width: 200px;
    height: 200px;
    display: center;
    overflow: hidden;
    background: #ffffff;
}

.Loader:after {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

@keyframes ldio-wcul1v4k7oi {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}