.profile-background {
  width: 120vh ;
  height: 70vh ;

  display: block ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 8vh;
}

.profile-user-name {
  font-size: 30px;
}

.profile-subtitle {
  font-size: 22px;
}

.profile-text {
	font-size: 15px;
	margin-top: -10px;
}

.avatar {
			border-radius: 100%;
			display: inline-block;
			padding: 0.5em;
			border: solid 1px rgba(255, 255, 255, 0.25);
			background-color: rgba(255, 255, 255, 0.075);
		}

			.avatar img {
				border-radius: 100%;
				display: block;
				width: 10em;
			}

.profile-review {
	width:80px;
}