.review-avatar {
  width: auto !important;
  height: 70px !important;
}

.review-body {
  padding-bottom: 0.15rem !important;
}

.review-footer {
  padding-bottom: 0.35rem !important;
}

.save-review, .cansel-review {
  margin-top: 10px;
  margin-left: 10px;
}

.review-editor {
  margin-top: 20px;
}

.add-review {
  margin-top: 10px;
  margin-bottom:10px;
}

.reading-points-review {
  font-size: 12px;
  margin-top: 2px;
  text-align: center;
}

.rank-review {
  width:40px;
  margin-left: 15px;
}
