.vote-text {
  font-size: 20px;
}

.vote-number-like {
  color: green;
}

.btn-like, .btn-like-disable {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

  .btn-like:hover > .vote-number-like {
      color: greenyellow;
  }


.btn-dislike, .btn-dislike-disable {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-left: 10px;
}

.btn-dislike:hover > .vote-number-dislike {
    color: #ffcc99;
}

.vote-number-dislike {
  color: red;
}

