.cr-search-form {
  position: relative;

  &__icon-search {
    position: absolute;
    left: 8px;
    z-index: 1000 !important;
  }

  &__input {
    /* stylelint-disable-next-line */
    padding-left: 35px !important;
  }
}
