.footer {
    color: #6a82fb;
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    background: #f8f9fa;
    text-align: center;
    border-top: 1px solid #6a82fb;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 1000;
    bottom: 0;

    &__content {
        display: flex;
        width: 95%;
        margin: 0 auto;
    }

    &__left {
        width: 80%;
        text-align: left;
        align-self: center;

    }

    &__right {
        flex-grow: 1;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__icon {
        font-size: 2.5em;
        color: #fff;
        margin: 0 1rem;

        &--logo {
            transform: rotate(45deg);
            font-size: 1.8em;
            color: #fff;
            animation: zoomIn 0.5s linear;
        }
    }
}
